<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  


  <title>About_US</title>
  <link rel="stylesheet" href="/css/app.min.css">
  <link rel="stylesheet" href="/css/vendor.min.css">
  <link rel="stylesheet" href="/css/slick.min.css">
  <link rel="stylesheet" href="/css/slick-theme.min.css">
</head>
<body>

  <div class="container-fluid">
    <div class="row">
      <div class="header_about">
        <div class="fonn">
          <div class="content_conteinerr">
            <p class="logo_header"><a href="index.html">AKAD.</a></p>
            <div class="header_center">
              <ul class="logo">             
                <li class="logo_center_about">ABOUT US</li>
                <li class="logo_bottom_about">
                  <a href="index.html">HOME</a> / 
                  <a href="about_us.html">ABOUT</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="second_about">
    <div class="content_conteinerr">
      <div class="container-fluid">
        <div class="row">
          <ul class="second_about_list">
            <li class="second_about_item_left">
              <h3 class="second_about_item_Ltitle">
                ABOUT US
              </h3>
              <h4 class="second_about_item_Stitle">
                WE ARE AWESOME
              </h4>
              <p class="second_about_item_text">
                  Lorem ipsum dolor sit amet, consectetuer 
                  adipiscing elit, sed diam nonummy nibh euismod 
                  tincidunt ut laoreet dolore magna aliquam erat 
                  volutpat. Ut wisi enim ad minim veniam, quis 
                  nostrud exerci tation ullamcorper suscipit lobortis 
                  nisl ut aliquip ex ea commodo consequat. Duis autem 
                  vel eum iriure dolor in hendrerit in vulputate velit 
                  esse molestie consequat, vel illum dolore eu feugiat 
                  nulla facilisis at vero eros et accumsan et iusto odio 
                  dignissim qui blandit praesent luptatum zzril delenit 
                  augue duis dolore te feugait nulla facilisi.
              </p>
            </li>
            <li class="second_about_item_right">
                <h3 class="second_about_item_Ltitle">
                  WHAT WE DO
                </h3>
                <h4 class="second_about_item_Stitle">
                   CREATIVE & DIDITAL
                </h4>
                <p class="second_about_item_text">
                    Lorem ipsum dolor sit amet, consectetuer 
                    adipiscing elit, sed diam nonummy nibh euismod 
                    tincidunt ut laoreet dolore magna aliquam erat 
                    volutpat. Ut wisi enim ad minim veniam, quis 
                    nostrud exerci tation ullamcorper suscipit 
                    lobortis nisl ut aliquip ex ea commodo consequat. 
                    Duis autem vel eum iriure dolor in hendrerit in 
                    vulputate velit esse molestie consequat, vel illum 
                    dolore eu feugiat nulla facilisis at vero eros et 
                    accumsan et iusto odio dignissim qui blandit praesent 
                    uptatum zzril delenit augue duis dolore te feugait 
                    nulla facilisi.
                </p>
              </li>
          </ul>
          <div class="second_bottom">
            <div class="second_bottom_title">
              <h4 class="bold">some benefits</h4> 
            </div>  
            <div class="second_bottom_text">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing 
                  elit, sed do eiusmod tempor incididunt ut labore et 
                  dolore magna aliqua.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <!-- /////////////////////////////////////////third section ///////////////////////////-->
 
  <div class="third_about">
    <div class="container-fluid">
      <div class="content_conteinerr">     
        <div class="row">
          <ul class="third_about_list">
            <li class="third_about_item col-lg-4 col-md-4 col-sm-6 col-xs-6">
                <div class=" thumbnail vcenter">
                  <div class="caption_about row">
                    <div class="third_item_top1">
                      <img src="/images/1.png" alt="phone" class="img_cap_about vcenter">
                    </div>
                    <h3 class="caption_title_about">                      
                      FULLY RESPONSIVE
                    </h3>
                    <p class="caption_desc_about">
                        Cum sociis natoque penatibus et 
                        magnis dis parturient montes, 
                        nascetur ridiculus mus. In eleifend 
                        suscipit enim, eu commodo neque molestie 
                        vitae.
                    </p>
                  </div>
                </div>
            </li>
            <li class="third_about_item col-lg-4 col-md-4 col-sm-6 col-xs-6">
                <div class="thumbnail vcenter">
                  <div class="caption_about row">
                    <div class="third_item_top">
                      <img src="/images/2.png" alt="infinity" class="img_cap_about vcenter">
                    </div>
                    <h3 class="caption_title_about">                      
                        UNLIMITED OPTIONS
                    </h3>
                    <p class="caption_desc_about">
                        Cum sociis natoque penatibus et 
                        magnis dis parturient montes, nascetur 
                        ridiculus mus. In eleifend suscipit 
                        enim, eu commodo neque molestie vitae.
                    </p>
                  </div>
                </div>
            </li>
            <li class="third_about_item col-lg-4 col-md-4 col-sm-6 col-xs-6">
                <div class="thumbnail vcenter">
                  <div class="caption_about row">
                    <div class="third_item_top">
                      <img src="/images/3.png" alt="wordpres" class="img_cap_about vcenter">
                    </div>
                    <h3 class="caption_title_about">                      
                        WORDPRESS
                    </h3>
                    <p class="caption_desc_about">
                        Cum sociis natoque penatibus et 
                        magnis dis parturient montes, nascetur 
                        ridiculus mus. In eleifend suscipit 
                        enim, eu commodo neque molestie vitae.
                    </p>
                  </div>
                </div>
            </li>
            <li class="third_about_item col-lg-4 col-md-4 col-sm-6 col-xs-6">
                <div class="thumbnail vcenter">
                  <div class="caption_about row">
                    <div class="third_item_top">
                      <img src="/images/4.png" alt="e-comerce" class="img_cap_about vcenter">
                    </div>
                    <h3 class="caption_title_about">                      
                        e-commerce
                    </h3>
                    <p class="caption_desc_about">
                        Cum sociis natoque penatibus et 
                        magnis dis parturient montes, nascetur 
                        ridiculus mus. In eleifend suscipit 
                        enim, eu commodo neque molestie vitae.
                    </p>
                  </div>
                </div>
            </li>
            <li class="third_about_item col-lg-4 col-md-4 col-sm-6 col-xs-6">
                <div class="thumbnail vcenter">
                  <div class="caption_about row">
                    <div class="third_item_top">
                      <img src="/images/5.png" alt="CUSTOMIZABLE DESIGN" class="img_cap_about vcenter">
                    </div>
                    <h3 class="caption_title_about">                      
                        CUSTOMIZABLE DESIGN
                    </h3>
                    <p class="caption_desc_about">
                        Cum sociis natoque penatibus et 
                        magnis dis parturient montes, nascetur 
                        ridiculus mus. In eleifend suscipit 
                        enim, eu commodo neque molestie vitae.
                    </p>
                  </div>
                </div>
            </li>
            <li class="third_about_item col-lg-4 col-md-4 col-sm-6 col-xs-6">
                <div class="thumbnail vcenter">
                  <div class="caption_about row">
                    <div class="third_item_top">
                      <img src="/images/6.png" alt="SUPPORT" class="img_cap_about vcenter">
                    </div>
                    <h3 class="caption_title_about">                      
                        SUPPORT
                    </h3>
                    <p class="caption_desc_about">
                        Cum sociis natoque penatibus et 
                        magnis dis parturient montes, nascetur 
                        ridiculus mus. In eleifend suscipit 
                        enim, eu commodo neque molestie vitae.
                    </p>
                  </div>
                </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  
<!-- ///////////////////////////////////////fourth section //////////////////////////////-->
<div class="fourth_section">
  <div class="container-fluid">
    <div class="row">
      <div class="content_conteinerr">
        <div class="fourth_top">
          <div class="fourth_top_title">
            <h4 class="bold">THE DREAM TEAM</h4> 
          </div>  
          <div class="second_bottom_text">
            <p>Lorem ipsum dolor sit amet, consectetur 
               adipisicing elit, sed do eiusmod tempor 
               incididunt ut labore et dolore magna aliqua.</p>
          </div>
        </div>
        <div class="fourth_center">
            <br/>
                <div class="gallery_product col-lg-3 col-md-3 col-sm-3 col-xs-6  ">
                    <img src="images/logo8.png" class="img-responsive">
                </div>
    
                <div class="gallery_product col-lg-3 col-md-3 col-sm-3 col-xs-6  ">
                    <img src="images/logo7.png" class="img-responsive">
                </div>
    
                <div class="gallery_product col-lg-3 col-md-3 col-sm-3 col-xs-6  ">
                    <img src="images/logo6.png" class="img-responsive">
                </div>
    
                <div class="gallery_product col-lg-3 col-md-3 col-sm-3 col-xs-6  ">
                    <img src="images/logo5.png" class="img-responsive">
                </div>
    
                <div class="gallery_product col-lg-3 col-md-3 col-sm-3 col-xs-6  ">
                    <img src="images/logo4.png" class="img-responsive">
                </div>
    
                <div class="gallery_product col-lg-3 col-md-3 col-sm-3 col-xs-6  ">
                    <img src="images/logo3.png" class="img-responsive">
                </div>
    
                <div class="gallery_product col-lg-3 col-md-3 col-sm-3 col-xs-6  ">
                    <img src="images/logo2.png" class="img-responsive">
                </div>
    
                <div class="gallery_product col-lg-3 col-md-3 col-sm-3 col-xs-6  ">
                    <img src="images/logo1.png" class="img-responsive">
                </div>
    
              
        </div>      
      </div>
    </div>
  </div>
  <div class="content_conteinerr">
    <div class="container-fluid">
      <div class="row">
        <div class="fourth_bottom">        
          <div class="fourth_bottom_text vcenter">
            Lorem ipsum dolor sit amet, consectetuer 
            adipiscing elit, sed diam nonummy nibh euismod
          <div class="fourth_bottom_btn btn">
            READ MORE
          </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- //////////////////////////////////////////////slider section ////////////////////////////////////-->

<div class="slider_section">
  <div class="content_conteinerr">
    <div class="container-fluid">
      <div class="row">
        <div class="section_slider_left vcenter  col-lg-6 col-md-offset-1 col-md-6 col-lg-offset-0 col-sm-12 col-xs-12">
              <div class="sl">
                <div class="sl_slide">
                    <img src="/images/round_logo.png" alt="IMG_Slider" class="IMG_Slider">    
                  <div class="slide_desc">
                    <p class="slide_text">
                      Quisque iaculis lorem vestibulum 
                      eros vehicula, non congue elit dictum. Donec mollis 
                      aliquet lorem, eu porttitor sapien semper in. Duis ac 
                      erat luctus, gravida lectus sit amet, consectetur orci. 
                      Suspendisse libero mauris.
                    </p>
                    <button class="slide_BTN">JOHN DOE</button>         
                  </div>
                </div>
                <div class="sl_slide">
                    <img src="/images/round_logo.png" alt="IMG_Slider" class="IMG_Slider">    
                  <div class="slide_desc">
                    <p class="slide_desc">
                      Quisque iaculis lorem vestibulum 
                      eros vehicula, non congue elit dictum. Donec mollis 
                      aliquet lorem, eu porttitor sapien semper in. Duis ac 
                      erat luctus, gravida lectus sit amet, consectetur orci. 
                      Suspendisse libero mauris.
                    </p>
                    <button class="slide_BTN">JOHN DOE</button>         
                  </div>
                </div>
                <div class="sl_slide">
                    <img src="/images/round_logo.png" alt="IMG_Slider" class="IMG_Slider">      
                  <div class="slide_desc">
                    <p class="slide_desc">
                      Quisque iaculis lorem vestibulum 
                      eros vehicula, non congue elit dictum. Donec mollis 
                      aliquet lorem, eu porttitor sapien semper in. Duis ac 
                      erat luctus, gravida lectus sit amet, consectetur orci. 
                      Suspendisse libero mauris.
                    </p>
                    <button class="slide_BTN">JOHN DOE</button>         
                  </div>
                </div>
                <div class="sl_slide">
                    <img src="/images/round_logo.png" alt="IMG_Slider" class="IMG_Slider">      
                  <div class="slide_desc">
                    <p class="slide_desc">
                      Quisque iaculis lorem vestibulum 
                      eros vehicula, non congue elit dictum. Donec mollis 
                      aliquet lorem, eu porttitor sapien semper in. Duis ac 
                      erat luctus, gravida lectus sit amet, consectetur orci. 
                      Suspendisse libero mauris.
                    </p>
                    <button class="slide_BTN">JOHN DOE</button>         
                  </div>
                </div>
              </div>
            </div>
      
        <div class="slider_section_right vcenter col-lg-6 col-md-6 col-sm-12 col-xs-12">
          <ul class="SL_right_list">
            <li class="SL_right_item vcenter col-lg-3 col-md-3 col-sm-5 col-xs-12">
              <img 
              src="/images/Layer 14.png" 
              alt="SL_right_img" 
              class="SL_right_img">
            </li>
            <li class="SL_right_item vcenter col-lg-3 col-md-3 col-sm-5 col-xs-12">
              <img 
              src="/images/Layer 15.png" 
              alt="SL_right_img" 
              class="SL_right_img">
            </li>
            <li class="SL_right_item vcenter col-lg-3 col-md-3 col-sm-5 col-xs-12">
              <img 
              src="/images/Layer 16.png" 
              alt="SL_right_img" 
              class="SL_right_img">
            </li>
            <li class="SL_right_item vcenter col-lg-3 col-md-3 col-sm-5 col-xs-12">
              <img 
              src="/images/Layer 17.png" 
              alt="SL_right_img" 
              class="SL_right_img">
            </li>
            <li class="SL_right_item vcenter col-lg-3 col-md-3 col-sm-5 col-xs-12">
              <img 
              src="/images/Layer 18.png" 
              alt="SL_right_img" 
              class="SL_right_img">
            </li>
            <li class="SL_right_item vcenter col-lg-3 col-md-3 col-sm-5 col-xs-12">
              <img 
              src="/images/Layer 19.png" 
              alt="SL_right_img" 
              class="SL_right_img">
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>






  
  
  
  
  
  
    <!-- //////////////last section/////////////////////////////////////////////////////////// -->
<div class="last_section ">
    <div class="container-fluid">
      <div class="row">
      <div class="content_conteinerr ">
        <div class="last_section_left vcenter">
            <div class="last_section_title">
              <h3>YOU THINK WE'RE COOL ? LET'S WORK TOGETHER</h3>
            </div>
            <button class="btn last_section_btn">GET IN TOUCH</button>
      
          </div>
        
          <div class="last_section_right vcenter">
              <h3 class="last_section_right_title">STAY INFORMED WITH OUR NEWSLETTER</h3>
              <div class="last_section_right_text">
                <p class="last_text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod 
                tempor incididunt ut labore et dolore magna aliqua.</p>
                <div>
                  <form class="input-group">                
                    <input type="email" class="form-control" placeholder="your email" id="email">
                    <div class="input-group-btn">
                      <button 
                      class="btn last_section_btn-right submit"                    
                      value="Submit">SEND</button>
                    </div>
                  </form>
              </div>
            </div>
          </div>
      </div>
    </div>
    </div>
  </div>


  <!-- /////////////////////////////////////////////////footer/////////////////////////////////////////////////////////// -->



  <div class="footer">
  <div class="container-fluid">
    <div class="row">
      <div class="content_conteinerr">
          <nav class="navbar ">
              <ul class="footer-list">
                <li role="presentation" class="navbar_menu"><a href="index.html">HOME</a></li>  - 
                <li role="presentation" class="navbar_menu"><a href="about_us.html">ABOUT US</a></li>  - 
                <li role="presentation" class="navbar_menu"><a href="#">SERVICES</a></li>  - 
                <li role="presentation" class="navbar_menu"><a href="#">PORTFOLIO</a></li>  - 
                <li role="presentation" class="navbar_menu"><a href="#">BLOG</a></li>  - 
                <li role="presentation" class="navbar_menu"><a href="contact_us.html">CONTACT US</a></li>
                <li class="creat">CREATED BY AKHOUAD 2016. ALL RIGHTSRESERVER</li>
              </ul>
             
                
            </nav>
      </div>
    </div>
  </div>
</div>

<script src="js/PlugDev.min.js"></script>
<script src="js/app.min.js"></script>
  
</body>
</html>