<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  
  <title>About_US</title>
  <link rel="stylesheet" href="/css/app.min.css">
  <link rel="stylesheet" href="/css/vendor.min.css">
  <link rel="stylesheet" href="/css/slick.min.css">
  <link rel="stylesheet" href="/css/slick-theme.min.css">
</head>
<body>
  <div class="container-fluid">
    <div class="row">
      <div class="header_about">
        <div class="fonn">
          <div class="content_conteinerr">
            <p class="logo_header"><a href="index.html">AKAD.</a></p>
            <div class="header_center">
              <ul class="logo">             
                <li class="logo_center_about">CONTACT US</li>
                <li class="logo_bottom_about">
                  <a href="index.html">HOME</a> / 
                  <a href="contact_us.html">CONTACT</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="contact_section">
    <div class="content_conteinerr">
      <div class="container-fluid">
        <div class="row">
          <div class="contact_left col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <div class="inputs">
              <div class="row">
                <div class="forms col-lg-12 col-md-12 col-sm-12 col-xs-12">
                  <form action="#" id="form">
                    <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-6">
                      <label for="name"></label>
                      <input
                        type="text" 
                        name="name" 
                        id="name" 
                        placeholder="YOUR NAME"
                        minlength="4"
                        data-bind="textInput: user.name"
                        class="form-control input_name"
                        required>
                    </div>
                    <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-6">
                      <label for="email"></label> 
                      <input
                        type="email" 
                        name="email" 
                        id="email" 
                        placeholder="YOUR EMAIL"
                        data-bind="textInput: user.email"
                        class="form-control input_email" 
                        required>
                    </div>
                    <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <label for="object"></label>   
                        <input
                          type="text" 
                          name="object" 
                          id="object" 
                          placeholder="OBJECT"
                          data-bind="textInput: user.object"
                          class="form-control input_object"
                          required>
                    </div>
                    <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <label for="message"></label>
                        <textarea
                          type="text" 
                          name="message" 
                          id="message" 
                          placeholder="MESSAGE"
                          data-bind="textInput: user.message"
                          class="form-control input_messge"
                          required></textarea>
                  </div>
                  <button class="forms_button submit" value="Submit">SEND</button>
                </form>             
              </div>              
            </div>
          </div>
          <div class="contact_desc col-lg-12 col-md-12 col-sm-8 col-xs-8">
              <h4 class="desc_title">
                  CONTACT INFO
              </h4>
              <p class="desc_text">
                  Lorem ipsum dolor sit amet, conse adipisicing elit. 
                  Libero incidunt quod ab mollitia quia dolorum conse.
                  <br>
                  13D, Functional apartment, Unique colony, <br>
                  Agadir 86360 <br>
                  +212 124-566-780 <br>
                  +212 124-566-780 
                  <p class="desc_text_email">email@website.com</p>
              </p>
            </div>
          </div>
          <div class="contact_right col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <a href="https://goo.gl/maps/FK2EnEqEVyH2" target="_blank">
            <img src="/images/map.png" alt="Map" class="right_img">
            </a>
          </div>
        </div>
          
        </div>
      </div>
    </div>
  
    <!-- //////////////last section/////////////////////////////////////////////////////////// -->
<div class="last_section ">
    <div class="container-fluid">
      <div class="row">
      <div class="content_conteinerr ">
        <div class="last_section_left vcenter">
            <div class="last_section_title">
              <h3>YOU THINK WE'RE COOL? LET'S WORK TOGETHER</h3>
            </div>
            <button class="btn last_section_btn">GET IN TOUCH</button>   
          </div>
          <div class="last_section_right vcenter">
            <h3 class="last_section_right_title">STAY INFORMED WITH OUR NEWSLETTER</h3>
            <div class="last_section_right_text">
              <p class="last_text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod 
              tempor incididunt ut labore et dolore magna aliqua.</p>
              <div>
                  <form class="input-group">                
                    <input type="email" class="form-control" placeholder="your email" id="email">
                    <div class="input-group-btn">
                      <button 
                      class="btn last_section_btn-right submit"                    
                      value="Submit">SEND</button>
                    </div>
                  </form>
              </div>
            </div>
          </div>
      </div>
    </div>
    </div>
  </div>
  <!-- /////////////////////////////////////////////////footer/////////////////////////////////////////////////////////// -->
<div class="footer">
  <div class="container-fluid">
    <div class="row">
      <div class="content_conteinerr">
          <nav class="navbar ">
              <ul class="footer-list">
                <li role="presentation" class="navbar_menu"><a href="index.html">HOME</a></li>  - 
                <li role="presentation" class="navbar_menu"><a href="about_us.html">ABOUT US</a></li>  - 
                <li role="presentation" class="navbar_menu"><a href="#">SERVICES</a></li>  - 
                <li role="presentation" class="navbar_menu"><a href="#">PORTFOLIO</a></li>  - 
                <li role="presentation" class="navbar_menu"><a href="#">BLOG</a></li>  - 
                <li role="presentation" class="navbar_menu"><a href="#">CONTACT US</a></li>
                <li class="creat">CREATED BY AKHOUAD 2016. ALL RIGHTSRESERVER</li>
              </ul>
             
                
            </nav>
      </div>
    </div>
  </div>
</div>

<script src="js/PlugDev.min.js"></script>
<script src="js/app.min.js"></script>
  
</body>
</html>