<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  


  <title>About_US</title>
  <link rel="stylesheet" href="/css/app.min.css">
  <link rel="stylesheet" href="/css/vendor.min.css">
</head>
<body>

  <div class="container-fluid">
    <div class="row">
      <div class="header_about">
        <div class="fonn">
          <div class="content_conteinerr">
            <p class="logo_header"><a href="index.html">AKAD.</a></p>
            <div class="header_center">
              <ul class="logo">             
                <li class="logo_center_about">OUR SERVICES</li>
                <li class="logo_bottom_about">
                  <a href="index.html">HOME</a> / 
                  <a href="services.html">SERVICES</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

<!-- //////////////second -->

  <div class="second_services">
    <div class="content_conteinerr"> 
      <div class="container-fluid">
        <div class="row">
         
          <div class="second_serv_top">
            <div class="second_serv_top_title">
              <h3>WHAT WE DO</h3>
            </div>
            <div class="second_serv_top_desc">
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing 
                elit, sed do eiusmod tempor incididunt ut labore et 
                dolore magna aliqua.</p>
            </div>
          </div>
          <div class="second_serv_bottom">
            <div class="row">
              <div class="second_serv_bottom_left  col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="second_serv_bottom_left_desc">
                  <p>Erat volutpat. Ut wisi enim ad minim veniam, 
                    quis nostrud exerci tation ullamcorper suscipit 
                    lobortis nisl ut aliquip ex ea commodo consequat. 
                    Duis autem vel eum iriure dolor in hendrerit in vulputate 
                    velit esse molestie consequat, vel illum dolore eu feugiat 
                    nulla facilisis at vero eros et accumsan.</p>
                </div>
                <ul class="second_serv_bottom_left_list">
                  <div class="row">
                    <li class="second_serv_bottom_left_item col-lg-6 col-md-6 col-sm-6 col-xs-6">
                      <label> 
                        <input type="checkbox" checked> Stunning on all screens
                      </label>
                    </li>
                    <li class="second_serv_bottom_left_item col-lg-6 col-md-6 col-sm-6 col-xs-6">
                        <label> 
                          <input type="checkbox" checked> Easy to customize
                        </label>
                    </li>
                    <li class="second_serv_bottom_left_item col-lg-6 col-md-6 col-sm-6 col-xs-6">
                        <label> 
                          <input type="checkbox" checked> Make a difference
                        </label>
                    </li>
                    <li class="second_serv_bottom_left_item col-lg-6 col-md-6 col-sm-6 col-xs-6">
                        <label> 
                          <input type="checkbox" checked> Imagine and create
                        </label>
                    </li>
                    <li class="second_serv_bottom_left_item col-lg-6 col-md-6 col-sm-6 col-xs-6">
                        <label> 
                          <input type="checkbox" checked> Unlimited possibilities
                        </label>
                    </li>
                    <li class="second_serv_bottom_left_item col-lg-6 col-md-6 col-sm-6 col-xs-6">
                        <label> 
                          <input type="checkbox" checked> Captivating presentations
                        </label>
                    </li>
                    <li class="second_serv_bottom_left_item col-lg-6 col-md-6 col-sm-6 col-xs-6">
                        <label> 
                          <input type="checkbox" checked> Make your portfolio pop
                        </label>
                    </li>
                    <li class="second_serv_bottom_left_item col-lg-6 col-md-6 col-sm-6 col-xs-6">
                        <label> 
                          <input type="checkbox" checked> Words that matter
                        </label>
                    </li>
                    <li class="second_serv_bottom_left_item col-lg-6 col-md-6 col-sm-6 col-xs-6">
                        <label> 
                          <input type="checkbox" checked> Satisfied clients
                        </label>
                    </li>
                    <li class="second_serv_bottom_left_item col-lg-6 col-md-6 col-sm-6 col-xs-6">
                        <label> 
                          <input type="checkbox" checked>  Remarkable style
                        </label>
                    </li>
                  </div>
                </ul>
              </div>
              <div class="second_serv_bottom_right col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <img src="/images/services1.png" alt="#">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- ////////////third -->

  <div class="third_services">
    <div class="content_conteinerr">
      <div class="container-fluid">
        <div class="row">
          <div class="third_services_top">
            <ul class="third_services_top_list">
              <li class="third_services_top_item vcenter col-lg-2 col-md-2 col-sm-12 col-xs-12">
                <img src="/images/services5.png" alt="all_time">
                <br>
                  <div class="caption_serv">
                    <h3 class="caption_title">KEEP PULSE GOING</h3>
                    <p class="caption_desc">
                        Lorem ipsum dolor sit amet, 
                        consectetur adipisicing elit, 
                        sed do eiusmod tempor incididunt.</p>
                  </div>
              </li>
              <li class="third_services_top_item vcenter col-lg-2 col-md-2 col-sm-12 col-xs-12">
                <img src="/images/services4.png" alt="all_time">
                <br>
                  <div class="caption_serv">
                    <h3 class="caption_title">PASS THE LIMITS</h3>
                    <p class="caption_desc">
                        Lorem ipsum dolor sit amet, 
                        consectetur adipisicing elit, 
                        sed do eiusmod tempor incididunt.</p>
                  </div>
              </li>
              <li class="third_services_top_item vcenter col-lg-2 col-md-2 col-sm-12 col-xs-12">
                <img src="/images/services3.png" alt="all_time">
                <br>
                  <div class="caption_serv">
                    <h3 class="caption_title">GREAT IDEAS</h3>
                    <p class="caption_desc">
                         Lorem ipsum dolor sit amet, 
                        consectetur adipisicing elit, 
                        sed do eiusmod tempor incididunt.</p>
                  </div>
              </li>
              <li class="third_services_top_item vcenter col-lg-2 col-md-2 col-sm-12 col-xs-12">
                <img src="/images/services2.png" alt="all_time">
                <br>
                  <div class="caption_serv">
                    <h3 class="caption_title">AWESOME SUPPORT</h3>
                    <p class="caption_desc">
                      Lorem ipsum dolor sit amet, 
                      consectetur adipisicing elit, 
                      sed do eiusmod tempor incididunt.</p>
                  </div>
              </li>
            </ul>
          </div>
          <div class="third_services_bottom">
            <div class="third_services_bottom_title">
              <h3>PRICING PLANS</h3>
            </div>
            <div class="third_services_bottom_desc">
              <p>Lorem ipsum dolor sit amet, consectetur 
                adipisicing elit, sed do eiusmod tempor 
                incididunt ut labore et dolore magna aliqua.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

 <!-- five section -->

  <div class="five_section">
    <div class="content_conteinerr">
      <div class="container-fluid">
        <div class="row">
          <div class="five_section_left shadow col-lg-3 col-md-3 col-sm-3 col-xs-3">
            <div class="five_section_title">
              <h2>BASIC</h2>
            </div>
            <div class="five_section_price">
              <p>$35.99 MONTHLY</p>
            </div>
            <ul class="five_section_list">
              <li class="five_section_item">
                <label> 
                  <input type="checkbox" checked> Lorem ipsum dolor sit amet
                </label>
              </li> 
              <li class="five_section_item">
                <label> 
                  <input type="checkbox" checked> Consectetuer adipiscing elit
                </label>
              </li>
              <li class="five_section_item">
                <label> 
                  <input type="checkbox" checked> Sed diam nonummy
                </label>
              </li>            
              <li class="five_section_item">
                <label> 
                  <input type="checkbox" checked> Nibh euismod tincidunt
                </label>
              </li>
              <li class="five_section_item">
                <label> 
                  <input type="checkbox" checked> Ut laoreet dolore
                </label>
              </li>
              <li class="five_section_item">
                <label> 
                  <input type="checkbox" checked> Magna aliquam erat volutpat
                </label>
              </li>
            </ul>
            <div class="five_section_btn btn"> GET STARTED</div>
          </div>
          <div class="five_section_center shadow col-lg-3 col-md-3 col-sm-3 col-xs-3">
            <div class="five_section_title">
              <h2>ADVANCED</h2>
            </div>
            <div class="five_section_price">
               <p>$55.99  MONTHLY</p>
            </div>
              <ul class="five_section_list">
                  <li class="five_section_item">
                    <label> 
                      <input type="checkbox" checked> Lorem ipsum dolor sit amet
                    </label>
                  </li> 
                  <li class="five_section_item">
                    <label> 
                      <input type="checkbox" checked> Consectetuer adipiscing elit
                    </label>
                  </li>
                  <li class="five_section_item">
                    <label> 
                      <input type="checkbox" checked> Sed diam nonummy
                    </label>
                  </li>            
                  <li class="five_section_item">
                    <label> 
                      <input type="checkbox" checked> Nibh euismod tincidunt
                    </label>
                  </li>
                  <li class="five_section_item">
                    <label> 
                      <input type="checkbox" checked> Ut laoreet dolore
                    </label>
                  </li>
                  <li class="five_section_item">
                    <label> 
                      <input type="checkbox" checked> Magna aliquam erat volutpat
                    </label>
                  </li>
                </ul>
                <div class="five_section_btn btn"> GET STARTED</div>
            </div>
          <div class="five_section_right shadow col-lg-3 col-md-3 col-sm-3 col-xs-3">
            <div class="five_section_title">
              <h2>SMART</h2>
            </div>
            <div class="five_section_price">
              <p>$75.99 MONTHLY</p>
            </div>
            <ul class="five_section_list">
              <li class="five_section_item">
                <label> 
                  <input type="checkbox" checked> Lorem ipsum dolor sit amet
                </label>
              </li> 
              <li class="five_section_item">
                <label> 
                  <input type="checkbox" checked> Consectetuer adipiscing elit
                </label>
              </li>
              <li class="five_section_item">
                <label> 
                  <input type="checkbox" checked> Sed diam nonummy
                </label>
              </li>            
              <li class="five_section_item">
                <label> 
                  <input type="checkbox" checked> Nibh euismod tincidunt
                </label>
              </li>
              <li class="five_section_item">
                <label> 
                  <input type="checkbox" checked> Ut laoreet dolore
                </label>
              </li>
              <li class="five_section_item">
                <label> 
                  <input type="checkbox" checked> Magna aliquam erat volutpat
                </label>
              </li>
            </ul>
            <div class="five_section_btn btn"> GET STARTED</div>
           </div>
        </div>
      </div>
    </div>
  </div>

    <!-- //////////////last section/////////////////////////////////////////////////////////// -->

<div class="last_section ">
    <div class="container-fluid">
      <div class="row">
      <div class="content_conteinerr ">
        <div class="last_section_left vcenter">
            <div class="last_section_title">
              <h3>YOU THINK WE'RE COOL ? LET'S WORK TOGETHER</h3>
            </div>
            <button class="btn last_section_btn">GET IN TOUCH</button>
        </div>
        <div class="last_section_right vcenter">
              <h3 class="last_section_right_title">STAY INFORMED WITH OUR NEWSLETTER</h3>
              <div class="last_section_right_text">
                <p class="last_text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod 
                tempor incididunt ut labore et dolore magna aliqua.</p>
                <div>
              <form class="input-group">                
                   <input type="email" class="form-control" placeholder="your email" id="email">
                <div class="input-group-btn">
                      <button 
                      class="btn last_section_btn-right submit"                    
                      value="Submit">SEND</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>
  </div>


  <!-- /////////////////////////////////////////////////footer/////////////////////////////////////////////////////////// -->








  <div class="footer">
  <div class="container-fluid">
    <div class="row">
      <div class="content_conteinerr">
          <nav class="navbar ">
              <ul class="footer-list">
                <li role="presentation" class="navbar_menu"><a href="index.html">HOME</a></li>  - 
                <li role="presentation" class="navbar_menu"><a href="about_us.html">ABOUT US</a></li>  - 
                <li role="presentation" class="navbar_menu"><a href="services.html">SERVICES</a></li>  - 
                <li role="presentation" class="navbar_menu"><a href="#">PORTFOLIO</a></li>  - 
                <li role="presentation" class="navbar_menu"><a href="#">BLOG</a></li>  - 
                <li role="presentation" class="navbar_menu"><a href="contact_us.html">CONTACT US</a></li>
                <li class="creat">CREATED BY AKHOUAD 2016. ALL RIGHTSRESERVER</li>
              </ul>
             
                
            </nav>
      </div>
    </div>
  </div>
</div>

<script src="js/PlugDev.min.js"></script>
<script src="js/app.min.js"></script>
  
</body>
</html>